<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>買い物リスト</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div class="header">
    買い物リスト
  </div>
  <div class="list">
    <div class="title">
      商品名（<%= Time.now.strftime("%Y年%m月%d日") %>）
    </div>
    <div class="title">
      商品名（<%= Time.now.strftime("%Y年%m月%d日") %>）
    </div>
  </div>
</body>
</html>
