.header {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px;
  font-size: 16px; 
  text-decoration: none;
}

.title {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  gap: 30px;
  margin: 20px;
  display: table;
  table-layout: fixed;
  text-decoration: none;
}

.button {
  background-color: #57e963;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  justify-content: right;
}